body {
  background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20190221/ourmid/pngtree-2-5d-see-a-doctor-medical-hospital-image_18143.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  font-family: 'Arial', sans-serif;
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
}

.example-card-header {
  background-color: #43db52;
  color: #e22323;
  padding: 10px;
  border-radius: 4px;
}

.example-card {
  margin-top: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.col-2 {
  flex: 0 0 calc(20% - 10px);
  margin-right: 10px;
}

.col-10 {
  flex: 0 0 calc(80% - 10px);
  margin-bottom: 10px;
}

.col-md-2 {
  flex: 0 0 calc(16.6667% - 10px);
  margin-right: 10px;
}

.col-md-3 {
  flex: 0 0 calc(25% - 10px);
  margin-right: 10px;
}

.label {
  margin-bottom: 5px;
  font-weight: bold;
}

.mat-form-field {
  width: 100%;
}

.button {
  text-align: center;
  margin-top: 20px;
}

.btn {
  color: #ffffff;
}
