<div class="col-md-6 offset-md-3">
    <h3>Approved Appointment!!</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" id="patientname" [(ngModel)]="appointment.patientname" name="patientname">
        </div>
        <div class="form-group">
            <label>Appointment Date</label>
            <input type="text" class="form-control" id="appointmentDate" [(ngModel)]="appointment.appointmentDate" name="appointmentDate">
        </div>
        <div class="form-group">
            <label>Appointment Time</label>
            <input type="text" class="form-control" id="appointmentTime" [(ngModel)]="appointment.appointmentTime" name="appointmentTime">
        </div>
        <div class="form-group">
            <label>Doctor Name</label>
            <input type="text" class="form-control" id="doctorname" [(ngModel)]="appointment.doctorname" name="doctorname">
        </div>
        <div class="form-group">
            <label>Check up</label>
            <input type="text" class="form-control" id="checkup" [(ngModel)]="appointment.checkup" name="checkup">
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" id="description" [(ngModel)]="appointment.description" name="description">
        </div>
        <div>
            <button class="btn btn-success" type="submit">Update</button>
        </div>
    </form>
</div>